## <font color=dodgerblue>U.S. Gun Deaths Analysis (y. 2012-2014)</font>

**Abstract**
<br>
In this analysis, I am utilizing a dataset from _FiveThirtyEight_ that records gun deaths in the U.S. between the years 2012 and 2014.

In [1]:
import csv

f = open('guns.csv')
csvreader = csv.reader(f)
data = list(csvreader)
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [2]:
data = data[1:]
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [3]:
years = [col[1] for col in data]
print(years[:5])

['2012', '2012', '2012', '2012', '2012']

In [4]:
year_counts = {}

for year in years:
    if year not in year_counts:
        year_counts[year] = 1
    else:
        year_counts[year] += 1
        
print(year_counts)

{'2012': 33563, '2013': 33636, '2014': 33599}

In [5]:
import datetime

dates = [datetime.datetime(year=int(col[1]), month=int(col[2]), day=1) for col in data]

print(dates[:5])

[datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0)]

In [6]:
date_counts = {}

for date in dates:
    if date not in date_counts:
        date_counts[date] = 1
    else:
        date_counts[date] += 1
        
print(date_counts)

{datetime.datetime(2014, 5, 1, 0, 0): 2864, datetime.datetime(2013, 9, 1, 0, 0): 2742, datetime.datetime(2014, 3, 1, 0, 0): 2684, datetime.datetime(2013, 4, 1, 0, 0): 2798, datetime.datetime(2012, 11, 1, 0, 0): 2729, datetime.datetime(2013, 8, 1, 0, 0): 2859, datetime.datetime(2013, 10, 1, 0, 0): 2808, datetime.datetime(2014, 7, 1, 0, 0): 2884, datetime.datetime(2012, 10, 1, 0, 0): 2733, datetime.datetime(2014, 12, 1, 0, 0): 2857, datetime.datetime(2013, 1, 1, 0, 0): 2864, datetime.datetime(2014, 11, 1, 0, 0): 2756, datetime.datetime(2012, 3, 1, 0, 0): 2743, datetime.datetime(2013, 11, 1, 0, 0): 2758, datetime.datetime(2012, 1, 1, 0, 0): 2758, datetime.datetime(2012, 9, 1, 0, 0): 2852, datetime.datetime(2014, 6, 1, 0, 0): 2931, datetime.datetime(2014, 4, 1, 0, 0): 2862, datetime.datetime(2014, 10, 1, 0, 0): 2865, datetime.datetime(2014, 8, 1, 0, 0): 2970, datetime.datetime(2014, 2, 1, 0, 0): 2361, datetime.datetime(2013, 2, 1, 0, 0): 2375, datetime.datetime(2012, 8, 1, 0, 0): 2954, datetime.datetime(2012, 4, 1, 0, 0): 2795, datetime.datetime(2012, 2, 1, 0, 0): 2357, datetime.datetime(2014, 9, 1, 0, 0): 2914, datetime.datetime(2013, 6, 1, 0, 0): 2920, datetime.datetime(2012, 7, 1, 0, 0): 3026, datetime.datetime(2013, 3, 1, 0, 0): 2862, datetime.datetime(2012, 6, 1, 0, 0): 2826, datetime.datetime(2012, 12, 1, 0, 0): 2791, datetime.datetime(2012, 5, 1, 0, 0): 2999, datetime.datetime(2013, 12, 1, 0, 0): 2765, datetime.datetime(2013, 7, 1, 0, 0): 3079, datetime.datetime(2014, 1, 1, 0, 0): 2651, datetime.datetime(2013, 5, 1, 0, 0): 2806}

In [7]:
sexes = [col[5] for col in data]
sex_counts = {}

for sex in sexes:
    if sex not in sex_counts:
        sex_counts[sex] = 1
    else:
        sex_counts[sex] += 1
        
print(sex_counts)

{'F': 14449, 'M': 86349}

In [8]:
races = [col[7] for col in data]
race_counts = {}

for race in races:
    if race not in race_counts:
        race_counts[race] = 1
    else:
        race_counts[race] += 1
        
print(race_counts)

{'Native American/Native Alaskan': 917, 'White': 66237, 'Black': 23296, 'Asian/Pacific Islander': 1326, 'Hispanic': 9022}

In [9]:
j = open('census.csv')
csvreader1 = csv.reader(j)
census = list(csvreader1)
census = census[1:]
print(census)

[['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [10]:
mapping = {
    'Asian/Pacific Islander' : int(census[0][16]),
    'Black' : int(census[0][13]),
    'Native American/Native Alaskan' : int(census[0][14]),
    'Hispanic' : int(census[0][12]),
    'White' : int(census[0][11])
}

print(mapping)

{'Native American/Native Alaskan': 15159516, 'White': 44618105, 'Black': 3739506, 'Asian/Pacific Islander': 6984195, 'Hispanic': 40250635}

In [11]:
race_per_hundredk = {}

for race in race_counts:
    val = race_counts[race]
    
    for mapp in mapping:
        rate = round(((val / mapping[mapp]) * 100000), 5)
        race_per_hundredk[race] = rate
        
print(race_per_hundredk)

{'Native American/Native Alaskan': 2.27822, 'White': 164.56138, 'Black': 57.87735, 'Asian/Pacific Islander': 3.29436, 'Hispanic': 22.41455}

In [12]:
months = [col[2] for col in data]
intents = [col[3] for col in data]
genders = [col[5] for col in data]
races = [col[7] for col in data]

homicide_race_counts = {}
homicide_race_rates = {}

homicide_month_counts = {}
homicide_month_rates = {}

homicide_gender_counts = {}
homicide_gender_rates = {}

accidental_gender_counts = {}
accidental_gender_rates = {}

accidental_race_counts = {}
accidental_race_rates = {}

suicide_gender_counts = {}
suicide_gender_rates = {}

suicide_race_counts = {}
suicide_race_rates = {}


def count_rate(g_dict, i_list, intent, counts_dict, rates_dict, m_dict):
    for i, gender in enumerate(g_dict):
        if i_list[i] == intent:
            if gender not in counts_dict:
                counts_dict[gender] = 1
            else:
                counts_dict[gender] += 1
                
    for gender, count in counts_dict.items():
        for eth in m_dict:
            rate = round(((count / m_dict[eth]) * 100000), 5)
            rates_dict[gender] = rate
    
    return counts_dict, rates_dict

hr = count_rate(races, intents, 'Homicide', homicide_race_counts, homicide_race_rates, mapping)
hm = count_rate(months, intents, 'Homicide', homicide_month_counts, homicide_month_rates, mapping)
hg = count_rate(genders, intents, 'Homicide', homicide_gender_counts, homicide_gender_rates, mapping)
ag = count_rate(genders, intents, 'Accidental', accidental_gender_counts, accidental_gender_rates, mapping)
ar = count_rate(races, intents, 'Accidental', accidental_race_counts, accidental_race_rates, mapping)
sg = count_rate(genders, intents, 'Suicide', suicide_gender_counts, suicide_gender_rates, mapping)
sr = count_rate(races, intents, 'Suicide', suicide_race_counts, suicide_race_rates, mapping)

In [13]:
hr

({'Asian/Pacific Islander': 559,
  'Black': 19510,
  'Hispanic': 5634,
  'Native American/Native Alaskan': 326,
  'White': 9147},
 {'Asian/Pacific Islander': 1.3888,
  'Black': 48.47128,
  'Hispanic': 13.99729,
  'Native American/Native Alaskan': 0.80993,
  'White': 22.72511})

In [14]:
hm

({'01': 2829,
  '02': 2178,
  '03': 2780,
  '04': 2845,
  '05': 2976,
  '06': 3130,
  '07': 3269,
  '08': 3125,
  '09': 2966,
  '10': 2968,
  '11': 2919,
  '12': 3191},
 {'01': 7.02846,
  '02': 5.41109,
  '03': 6.90672,
  '04': 7.06821,
  '05': 7.39367,
  '06': 7.77627,
  '07': 8.12161,
  '08': 7.76385,
  '09': 7.36883,
  '10': 7.3738,
  '11': 7.25206,
  '12': 7.92783})

In [15]:
hg

({'F': 5373, 'M': 29803}, {'F': 13.34886, 'M': 74.04355})

In [16]:
ag

({'F': 218, 'M': 1421}, {'F': 0.54161, 'M': 3.53038})

In [17]:
ar

({'Asian/Pacific Islander': 12,
  'Black': 328,
  'Hispanic': 145,
  'Native American/Native Alaskan': 22,
  'White': 1132},
 {'Asian/Pacific Islander': 0.02981,
  'Black': 0.81489,
  'Hispanic': 0.36024,
  'Native American/Native Alaskan': 0.05466,
  'White': 2.81238})

In [18]:
sg

({'F': 8689, 'M': 54486}, {'F': 21.58724, 'M': 135.36681})

In [19]:
sr

({'Asian/Pacific Islander': 745,
  'Black': 3332,
  'Hispanic': 3171,
  'Native American/Native Alaskan': 555,
  'White': 55372},
 {'Asian/Pacific Islander': 1.8509,
  'Black': 8.27813,
  'Hispanic': 7.87814,
  'Native American/Native Alaskan': 1.37886,
  'White': 137.56802})

In [22]:
locations = [col[9] for col in data]
education = [col[10] for col in data]

counts_by_location = {}
rates_by_location = {}

counts_by_education = {}
rates_by_education = {}

def morecountrate(input_list, counts_dict, mapping_dict, rates_dict):
    for value in input_list:
        if value not in counts_dict:
            counts_dict[value] = 1
        else:
            counts_dict[value] += 1
            
    for place, count in counts_dict.items():
        for eth in mapping_dict:
            rate = round(((count / mapping_dict[eth]) * 100000), 5)
            rates_dict[place] = rate
        
    return counts_dict, rates_dict

cbl = morecountrate(locations, counts_by_location, mapping, rates_by_location)
cbe = morecountrate(education, counts_by_education, mapping, rates_by_education)

In [23]:
cbl

({'Farm': 470,
  'Home': 60486,
  'Industrial/construction': 248,
  'NA': 1384,
  'Other specified': 13751,
  'Other unspecified': 8867,
  'Residential institution': 203,
  'School/instiution': 671,
  'Sports': 128,
  'Street': 11151,
  'Trade/service area': 3439},
 {'Farm': 1.16768,
  'Home': 150.27341,
  'Industrial/construction': 0.61614,
  'NA': 3.43846,
  'Other specified': 34.16344,
  'Other unspecified': 22.02947,
  'Residential institution': 0.50434,
  'School/instiution': 1.66705,
  'Sports': 0.31801,
  'Street': 27.70391,
  'Trade/service area': 8.54396})

In [24]:
cbe

({'1': 21823, '2': 42927, '3': 21680, '4': 12946, '5': 1369, 'NA': 53},
 {'1': 54.21778,
  '2': 106.64925,
  '3': 53.8625,
  '4': 32.16347,
  '5': 3.40119,
  'NA': 0.13167})